<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Sample Page..</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">MyToD0</a>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="page-header header container-fluid">
          <div class="overlay"></div>
              <div class="description">
              <h1>Organize it all with MyToDo</h1>
              <p>Regain clarity and calmness by getting all those tasks out of your head and onto your to-do list (no matter where you are or what device you use).</p>
              <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
          </div>


    </header>
    <div class="container features">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3 class="feature-title">team collaboration</h3>
          <img src="images/column-1.png" class="img-fluid">
          <p>MyToDo isn't the most powerful to do list out there. It's also not the simplest. That's kind of the point: This app balances power with simplicity, and it does so while running on basically every platform that exists. That's a strong selling point—which is probably why Todoist is one of the most popular to do lists out there right now, with over 10 million users. </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3 class="feature-title">Ease of adding Tasks</h3>
          <img src="images/column-2.png" class="img-fluid">
          <p>Adding tasks was quick on every platform in our tests, thanks in part to natural language processing (type "buy milk Monday" and the task "buy milk" will be added with the next Monday set as your due date). You can put new tasks in your Inbox and then move them to relevant projects; you can also set due dates. Paid users can create custom filters and labels, and there are also some basic collaboration features. </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12"> 
          <h3 class="feature-title">Get in Touch!</h3>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email Address" name="email">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="4"></textarea>
          </div>
          <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">

        </div>
      </div> 
    </div>


    <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
        <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
        <p>We tried to focus on dedicated to-do applications in the list above, but plenty of other software can fulfill the same feature. Here are a few ideas if none of the above quite fit what you’re looking for.</p>
        <p>The app itself can be a little complicated to get started with, owing to the wide array of features. Take some time to learn everything, however, and you'll find it's all less complicated than you're imagining.

</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>1640 Riverside Drive, Hill Valley, California
        <br/>kingini@mywebsite.com
        <br/>+ 01 234 567 88
        <br/>+ 01 234 567 89</p>
      </div>
    </div>
    <div class="footer-copyright text-center">© 2020 Copyright: MyWebsite.com</div>
  </footer>







    

    <script src="jquery-3.4.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
